@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Source Sans Pro', 'sans-serif';
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 12;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.logo h1{
    font-weight: bolder;
}

.logo h1 b{
    color: #fb1741;
    font-weight: bolder;
}


.menu {
    height: 80px;
    position: relative;
    margin-right: -280px;

}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #fb1741;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #fb1741;
}

.menu .text-menu-selected{
    color: #fb1741;
}

.menu nav ul li a .icon{
    display: none;
}

.buttons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#ctn-icon-search, .container-shopping-cart{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#ctn-icon-search{
    padding-right: 10px;
}

.container-shopping-cart{
    padding-left: 10px;
}

#icon-search, .cart{
    font-size: 30px;
    color: #777777;
    cursor: pointer;
    transition: all 300ms;

}

#icon-search:hover, .cart:hover{
    color: #fb1741;
}


#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}


#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}

/*Shopping-Cart*/
.submenu{
    position: relative;
  }

  .submenu #shopping-cart{
    display: none;
  }

  .submenu:hover #shopping-cart{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #828282;
    padding: 20px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }

  table{
    width: 100%;
    margin-bottom: 20px;
  }

  th, td{
    color: #ffff;
    font-family: 'Source Sans Pro', 'sans-serif';
    text-align: center;
}

.td-content{
    padding: 10px;
}

.td-content-title{
    padding: 8px;
    text-align: left;
}

  .delete{
    background-color: #ff002f;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffff;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-empty-cart{
    background-color: #fb1741;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: 'Source Sans Pro', 'sans-serif';
    color: #fff;
    font-weight: bolder;
}


/*Contenedor principal*/
.main{
    margin: auto;
}

.products{
    width: 100%;
    margin: auto;
    background: #f8f8f8;
}


/*sistema de filtrado*/

[value="TODOS"]:checked ~ .product-container .article[data-category]{
    display: block;
}

[value="MANGAS"]:checked ~ .product-container .article:not([data-category~="MANGAS"]),
[value="ACCESORIOS"]:checked ~ .product-container  .article:not([data-category~="ACCESORIOS"]),
[value="DECORACIÓN"]:checked ~ .product-container  .article:not([data-category~="DECORACIÓN"]),
[value="FIGURAS"]:checked ~ .product-container  .article:not([data-category~="FIGURAS"]),
[value="ROPA"]:checked ~ .product-container  .article:not([data-category~="ROPA"]),
[value="ARTÍCULOS"]:checked ~ .product-container  .article:not([data-category~="ARTÍCULOS"]){
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="MANGAS"]:checked ~ .container-category [for="MANGAS"],
[value="ACCESORIOS"]:checked ~ .container-category [for="ACCESORIOS"],
[value="DECORACIÓN"]:checked ~ .container-category [for="DECORACIÓN"],
[value="FIGURAS"]:checked ~ .container-category [for="FIGURAS"],
[value="ROPA"]:checked ~ .container-category [for="ROPA"],
[value="ARTÍCULOS"]:checked ~ .container-category [for="ARTÍCULOS"]{
    background: #fb1741;
    color: #fff;
}

/*Contenedor de categorias*/

input[type="radio"]{
    display: none;
}

.container-category{
    width: 93%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 20px;
}

.container-category label{
    padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.container-category label:hover{
    opacity: 0.8;
}

/*Cover - Efecto Parallax*/
.parallax{
    width: 100%;
    background-color: #efefef;
    background-image: url(https://media.istockphoto.com/id/1011498282/es/foto/anime-fondo-de-ilustraci%C3%B3n-3d-de-velocidad-c%C3%B3mic-fondo-radial.webp?b=1&s=170667a&w=0&k=20&c=-Ovw4o57m6EtnkbcIjzCnH3CogafDTHkJhEipe8pT9g=);
    background-size: cover;
}


#parallax{
    width: 94%;
    margin: auto;
    background: none;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#parallax img{
    position: absolute;
    bottom: 0px;
    width: 430px;
    filter: brightness(.5);
}

#logo{
    position: absolute;
    font-size: 5em;
    margin-bottom: 60px;
    color: #000;
    color: #dfdddd;
}

.parallax h2 b{
    color: #ff002f;
}
#text{
    position: absolute;
    margin-top: 60px;
    font-size: 3em;
    font-weight: 700;
    color: #dfdddd;
}

#left-img-1, #left-img-2{
    left: 40px;
}

#left-img-2{
    left: 0px;
}

#left-img-1{
    transform: rotate(2deg);
    left: 200px;
}

#left-img-2{
    transform: rotate(-2deg);
    top: 66px;
}

#right-img-1, #right-img-2{
    right: 40px;
}

#right-img-2{
    right: 0px;
}

#right-img-1{
    transform: rotate(-2deg);
    right: 200px;
}

#right-img-2{
    transform: rotate(2deg);
    top: 66px;
}
@keyframes loadAnimation {
    0% {
      opacity: 0;
      transform: translateY(1%);
    }
    50% {
      opacity: 1;
      transform: translateY(.5%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
  }
/* Products - Content */
.products{
    padding-top: 80px;
}

.products-content {
    width: 94%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin: auto;
}

.article {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    height: auto;
    background: #fff;
}

.article{
    width: 21.6vw;
}

.article img {
    height: 46vh; 
    max-width: 100%;  
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
}

.article-content {
    min-height: 370px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 30px 30px;
    background: #f1f1f1;
}

.article-content h4, .article-content p{
    text-align: left;
    margin: 0; 
    font-family: 'Source Sans Pro', sans-serif;
}

.article-content h4{
    font-size: 1.4rem;
}

.article-content a, .btn-2{
    font-family: 'Source Sans Pro', sans-serif;
}

.article-content p, .article-content a, .btn-2{
    margin-top: 14px;
    font-size: 1.1rem;
}

.article-content p{
    font-weight: bolder;
}

.article-content span{
    font-weight: normal;
}

.article-content a, .btn-2{
    color: #ffffffec;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    background: #fb1741;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
}

.btn-2{
    padding: 10px 40px;
}

.article-content a:hover, .btn-2:hover{
    background: #ff496b;
}

.product-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

/*Productos recientes*/
.container-new-products{
    width: 100%;
    background: #e2e2e2;
    padding-top: 80px;
}

.text-new-products{
    width: 90.6vw;
    margin: auto;
    padding-top: 30px;
}

.text-new-products h5{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}

.article-content h1{
    font-size: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.article-new-content{
    height: 430px;
}

/*Productos mas vendidos*/
.bestsellers-products {
    background-color: #efefef;
    height: 100%;
    width: 100%;
    padding-top: 80px;
}

.text-bestsellers-products{
    width: 82%;
    margin: auto;
    padding-top: 30px;
}

.text-bestsellers-products h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}

.general-slide-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: auto;
}

.slide-container {
    width: 90%;
    padding: 20px 0 40px 0;
    height: 100%;
}

.slide-content {
    margin: 0;
    padding: 0%;
    overflow: hidden;
    border-radius: 15px;
    min-height: 100%;
}

.card {
    margin: auto;
    padding: 0%;
    text-align: center;
    border-radius: 15px;
    height: 100vh;
}

.card-image{
    height: 100%;
}

.card-img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    background: #fff;
}

.card-content {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 30px 30px;
    background-color: #e2e2e2;
    border-radius: 0px 0px 15px 15px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px;
}

.image-content {
    position: relative;
    row-gap: 10px;
    padding: 25px 0;
    border-radius: 15px 15px 0 0;
    background: #fff;
    height: 58vh;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
}

.card-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: none;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.product-name{
    font-size: 1.4rem;
}

.product-name, .card-content p {
    font-weight: 600;
    text-align: left;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-content p{
    margin-top: 20px;
}

.card-content p, .card-content a{
    font-size: 1.1rem;
}

.add-cart {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 20px;
}


.add-cart {
    font-size: 16px;
    color: #fff;
    padding: 8px 20px;
    background-color: #fb1741;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-cart:hover {
    background: #ff496b;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
    position: static;
    filter: hue-rotate(120deg);
    font-weight: bolder;
}

/*Contact us*/
.contact-us{
    width: 100%;
    background-color: #ffffff;
    padding: 80px 0px 40px 0px;
}

.contact-us-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
    position: relative;
}

.contact-means-container, .contact-form{
    width: 46%;
    min-height: 100%;
}

.contact-us-text h4{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

.contact-us-text p{
    font-size: 1.2rem;
    font-weight: 700;
}

.contact-means-content{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 20px;
}

.contact-means{
    display: flex;
    align-items: center;
    border: 4px solid #ff002f;
    padding: 10px;
    border-radius: 6px;
}

.contact-means-icon i{
    font-size: 4rem;
    color: #fb1741;
}

.contact-means-icon i{
    transition: transform 0.3s ease;
}

.contact-means-icon i:hover {
    transform: rotate(10deg);
}

.contact-means-text{
    margin-left: 20px;
}

.contact-means-text span{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
}

.contact-means-text p{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 6px;
}

.contact-means-text p a{
    color: #000;
    font-weight: 800;
    text-decoration: underline;
}

/*Contact-middle*/
.contact-middle{
    width: 1px;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 50%; /* Ajusta la posición horizontal de la línea */
}

/*Contact - Form*/
#contact-form {
    padding: 10px 20px;
    max-width:100%;
    background-color: #d3d3d3a8;
}

#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
   font-size: 15px;  
   margin-bottom: 2px;
   font-size: 1.06rem;
} 

.required{
    font-size: 1.1rem;
}

#contact-form input,   
 #contact-form select,   
 #contact-form textarea { 
    width:100%;
    background: #f8f8f8;
    border: 0; 
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;
    margin-bottom: 25px;  
    padding: 8px 10px; 
    height: 30px; 
 }  

 #contact-form input:focus,   
 #contact-form select:focus,   
 #contact-form textarea:focus {  
    background-color: #f5f5f5; 
 }  
 #contact-form textarea {
    width:100%;
    resize: none; 
    height: 100px;
 }

 #contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#fb1741;
    color:#FFF;
    padding:10px 0px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;
 }

 #contact-form button[type="submit"]:hover {
    background: #ff002f;
    transition: all .3s ease;
 }
 #contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
 }

 input:required, textarea:required {  
    box-shadow: none;
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    -o-box-shadow: none;  
    margin-top: 10px;
 }

 #contact-form .required {  
    font-weight:bold;  
    color: #000;      
 }

  /* Make form look nice on smaller screens */
  @media only screen and (max-width: 580px) {
    #contact-form{
       left: 3%;
       margin-right: 3%;
       width: 88%;
       margin-left: 0;
       padding-left: 3%;
       padding-right: 3%;
    }
 }
 
/*Servicios*/
.services-container{
    width: 100%;
    background-color: #d6d6d6;
}

.services{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 40px 0px;
    justify-content: space-between;
    
}

.service{
    border: 6px solid #fb1741;
    margin: 10px;
}

.service-img, .service-text{
    margin: 20px;
    text-align: center;
}

.service-img{
    padding: 10px;
}

.service-img i{
    font-size: 4rem;
    color: #fb1741;
    margin: auto;
}

.service-img i{
    transition: transform 0.3s ease;
}

.service-img i:hover {
    transform: translateY(10px);
}


.service-text p{
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Footer*/

.footer{
    width: 100%;
    margin: auto;
    background-color: #222222;
}

.footer-section{
    padding: 60px 6% 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-text{
    font-weight: bolder;
}
.footer-text h4{
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 2rem;
    color: #fff;
    margin-bottom: -10px;
}

.footer-text h4 b{
    color: #fb1741;
    font-weight: bolder;
}

.footer-text p{
    font-family: 'Source Sans Pro', 'sans-serif';
}

.footer-content h5{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.footer-content ul li{
    margin-bottom: 16px;
}

.footer-content ul li a{
    display: block;
    color: #d6d6d6;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: .9rem;
    font-weight: 400;
    transition: all .4s ease;
}

.footer-content ul li a:hover{
    transform: translateX(10px);
    color: #fff;
}

.footer-content p{
    color: #d6d6d6;
    font-size: 1rem;
    line-height: 30px;
    margin: 20px 0;
}

.icons a{
    display: inline-block;
    font-size: 1.8rem;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .4 ease;
}

.icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}

.footer-text h5{
    color: #fb1741;
}

.footer-text input{
    padding: 10px 14px;
    border-radius: 4px;
    border: none;
    max-width: 100%;
    font-size: 1rem;
}

input[type="checkbox"]{
    position: relative;
    margin-right: 5px;
}

.acceptTerms-text{
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    font-family: 'Source Sans Pro', 'sans-serif';
}

.acceptTerms-text label{
    color: #fff;
}

.acceptTerms-text a{
    color: #fff;
    text-decoration: underline
}

.subscribe-button{
    display: block; 
    margin: auto;
    padding: 14px 26px;
    width: 90%;
    font-size: 1.06rem;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bolder;
    background: #ff002f;
    border: none;
    border-radius: 6px;
    text-align: center;
    color: #fff;
}



.copyright{
    width: 90%;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 1.4rem;
    padding: 20px 0px 30px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

.copyright b{
    color: #fb1741;
}


@media screen and (max-width: 1220px){

    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }

    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }

}

@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a .icon{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    #icon-menu{
        display: flex;
        right: 60px;
    }

    .container-aside{
        flex-wrap: wrap;
    }

}
