@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Header*/
.header{
    display: flex;
    width: 100%;
    border: 2px solid red;
    background-color: #777777;
}

.header-container{
    display: flex;
    width: 90%;
    margin: auto;
}

/*Logo*/
.logo{
    border: 2px solid red;
    margin: auto 0;
    font-weight: bolder;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

.logo h1{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo h1 b{
    color: #ff002f;
    font-weight: bolder;
}

/*NavBar*/
.navigation{
    display: flex;
    justify-content: center;
    min-height: auto;
    border: 2px solid black;
    padding-top: 3%;
    margin: auto;
}

.sub-container-navigation{
    width: 700px;
    height: 70px;
    background: #fff;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
}

.sub-container-navigation ul{
    display: flex;
    width: 100%;
   justify-content: space-between;
}

.sub-container-navigation ul li{
    position: relative;
    list-style: none;
    height: 70px;
    width: 70px;
    z-index: 1;
    border: 2px solid red;
}

.sub-container-navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: white;
}
.sub-container-navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: .5s;
    color: white;
}

.sub-container-navigation ul li.active a .icon{
    transform: translateY(-32px);
}

.sub-container-navigation ul li a .text{
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    transition: .5s;
    opacity: 0;
    transform: translateY(20px);
    color: #212020;
}

.sub-container-navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #ff2f2f;
    border: 6px solid white;
    transition: .5s;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 white;
    justify-content: space-between;
}

.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 white;
}

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 2.26));
}

.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 4.5));
}

.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 6.76));
}

.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 9));
}


/*Shopping-Cart*/
.submenu{
    position: relative;
  }

  .submenu #shopping-cart{
    display: none;
  }

  .submenu:hover #shopping-cart{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #777797;
    padding: 20px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  table{
    width: 100%;
  }

  th, td{
    color: #ffff;
  }

  .borrar{
    background-color: #ff002f;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffff;
    font-weight: 800;
  }

/*Bar-Search (Buscador)*/
#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

/*Bar-Search (Efecto)*/
#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}

/*Box-Search (Caja de Busqueda)*/
#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
}

#box-search li a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
    overflow: hidden;
    display: none;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}

/*Contenedor principal*/
.main{
    margin: auto;
}

.products{
    width: 100%;
    margin: auto;
    background: #f8f8f8;
}

/*sistema de filtrado*/

[value="TODOS"]:checked ~ .product-container .article[data-category]{
    display: block;
}

[value="MANGAS"]:checked ~ .product-container .article:not([data-category~="MANGAS"]),
[value="ACCESORIOS"]:checked ~ .product-container  .article:not([data-category~="ACCESORIOS"]),
[value="DECORACIÓN"]:checked ~ .product-container  .article:not([data-category~="DECORACIÓN"]),
[value="FIGURAS"]:checked ~ .product-container  .article:not([data-category~="FIGURAS"]),
[value="ROPA"]:checked ~ .product-container  .article:not([data-category~="ROPA"]),
[value="ARTÍCULOS"]:checked ~ .product-container  .article:not([data-category~="ARTÍCULOS"]){
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="MANGAS"]:checked ~ .container-category [for="MANGAS"],
[value="ACCESORIOS"]:checked ~ .container-category [for="ACCESORIOS"],
[value="DECORACIÓN"]:checked ~ .container-category [for="DECORACIÓN"],
[value="FIGURAS"]:checked ~ .container-category [for="FIGURAS"],
[value="ROPA"]:checked ~ .container-category [for="ROPA"],
[value="ARTÍCULOS"]:checked ~ .container-category [for="ARTÍCULOS"]{
    background: #fb1741;
    color: #fff;
}

/*Contenedor de categorias*/

input[type="radio"]{
    display: none;
}

.container-category{
    width: 93%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 20px;
}

.container-category label{
    padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.container-category label:hover{
    opacity: 0.8;
}

/* Products - Content */
.products-content {
    width: 94%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    padding: 20px;
    margin: auto;
}

.article {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    height: auto;
    background: #fff;
}

.article img {
    border: 2x solid red;
    height: 46vh; 
    max-width: 100%;  
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
}

.article-content {
    min-height: 370px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 30px 30px;
    background: #f1f1f1;
}

.article-content h4, .article-content p{
    text-align: left;
    margin: 0; 
    font-family: 'Source Sans Pro', sans-serif;
}

.article-content h4{
    font-size: 1.4rem;
}

.article-content a, .btn-2{
    font-family: 'Source Sans Pro', sans-serif;
}

.article-content p, .article-content a, .btn-2{
    margin-top: 14px;
    font-size: 1.1rem;
}

.article-content p{
    font-weight: bolder;
}

.article-content span{
    font-weight: normal;
}

.article-content a, .btn-2{
    color: #ffffffec;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    background: #fb1741;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
}

.btn-2{
    padding: 10px 40px;
}

.article-content a:hover, .btn-2:hover{
    background: #ff496b;
}

.product-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

/*Productos recientes*/
.container-new-products{
    width: 100%;
    background: #e2e2e2;
}

.text-new-products{
    width: 90vw;
    margin: auto;
    padding-top: 40px;
}

.text-new-products h5{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.article-content h1{
    font-size: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.article-new-content{
    height: 430px;
}

/*Productos mas vendidos*/
.bestsellers-products {
    background-color: #efefef;
    height: 100%;
    width: 100%;
}

.text-bestsellers-products{
    width: 82%;
    margin: auto;
    padding-top: 40px;
}

.text-bestsellers-products h2{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.general-slide-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: auto;
}

.slide-container {
    width: 90%;
    padding: 20px 0 40px 0;
    height: 100%;
}

.slide-content {
    margin: 0;
    padding: 0%;
    overflow: hidden;
    border-radius: 15px;
    min-height: 100%;
}

.card {
    margin: auto;
    padding: 0%;
    text-align: center;
    border-radius: 15px;
    height: 100vh;
}

.card-img {
    height: 46vh;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    background: #fff;
    border-radius: 15px;
}


.card-content {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 30px 30px;
    background-color: #e2e2e2;
    border-radius: 0px 0px 15px 15px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px;
}

.image-content {
    position: relative;
    row-gap: 10px;
    padding: 25px 0;
    border-radius: 15px 15px 0 0;
    background: #fff;
    height: 460px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
}

.card-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: none;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    border-radius: 15px;
}

.product-name{
    font-size: 1.4rem;
}

.product-name, .card-content p {
    font-weight: 600;
    text-align: left;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-content p{
    margin-top: 20px;
}

.card-content p, .card-content a{
    font-size: 1.1rem;
}

.add-cart {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 20px;
}


.add-cart {
    font-size: 16px;
    color: #fff;
    padding: 8px 20px;
    background-color: #fb1741;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-cart:hover {
    background: #ff496b;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
    position: static;
    filter: hue-rotate(120deg);
    font-weight: bolder;
}

/*Servicios*/
.services-container{
    width: 100%;
    background-color: #d6d6d6;
}

.services{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 40px 0px;
    justify-content: space-between;
    
}

.service{
    border: 6px solid #fb1741;
    margin: 10px;
}

.service-img, .service-text{
    margin: 20px;
    text-align: center;
}

.service-img{
    padding: 10px;
}

.service-img i{
    font-size: 4rem;
    color: #fb1741;
    margin: auto;
}

.service-img i{
    transition: transform 0.3s ease;
}

.service-img i:hover {
    transform: translateY(10px);
}


.service-text p{
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Footer*/

.footer{
    width: 100%;
    margin: auto;
    background-color: #222222;
}

.footer-section{
    padding: 60px 6% 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #fb1741;
}

.footer-text{
    font-weight: bolder;
}
.footer-text h4{
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 2rem;
    color: #fff;
    margin-bottom: -10px;
}

.footer-text h4 b{
    color: #fb1741;
    font-weight: bolder;
}

.footer-text p{
    font-family: 'Source Sans Pro', 'sans-serif';
}

.footer-content h5{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.footer-content ul li{
    margin-bottom: 16px;
}

.footer-content ul li a{
    display: block;
    color: #d6d6d6;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: .9rem;
    font-weight: 400;
    transition: all .4s ease;
}

.footer-content ul li a:hover{
    transform: translateX(10px);
    color: #fff;
}

.footer-content p{
    color: #d6d6d6;
    font-size: 1rem;
    line-height: 30px;
    margin: 20px 0;
}

.icons a{
    display: inline-block;
    font-size: 1.8rem;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .4 ease;
}

.icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}

.footer-text h5{
    color: #fb1741;
}

.footer-text input{
    padding: 10px 14px;
    border-radius: 4px;
    border: none;
    max-width: 100%;
    font-size: 1rem;
}

input[type="checkbox"]{
    position: relative;
    margin-right: 5px;
}

.acceptTerms-text{
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    font-family: 'Source Sans Pro', 'sans-serif';
}

.acceptTerms-text label{
    color: #fff;
}

.acceptTerms-text a{
    color: #fff;
    text-decoration: underline
}

.subscribe-button{
    display: block; 
    margin: auto;
    padding: 14px 26px;
    width: 90%;
    font-size: 1.06rem;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bolder;
    background: #ff002f;
    border: none;
    border-radius: 6px;
    text-align: center;
    color: #fff;
}



.copyright{
    width: 90%;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 1.4rem;
    padding: 20px 0px 30px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

.copyright b{
    color: #fb1741;
}